@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


.hero-track {
  animation: infiniteSlide 24s linear infinite;
}

@keyframes infiniteSlide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

:root {
  /* Override any color variable */
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}